Dear {{name}},
<br><br>
You have been invited by <a href="{{profileUrl}}">{{profileName}}</a> to PixelMatch. 
<br><br>
<strong>{{title}}</strong>
<p>{{description}}</p>
<br><br>
Click the following link to accept the invite: <br>
<a href="{{acceptUrl}}">{{acceptUrl}}</a>

<br><br>
We hope to see you soon!
<br><br>
Sincerely,<br>
PixelMatch Team